# Copyright (c) 2026, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

tenancy_ocid         = "<REPLACE-BY-TENANCY-OCID>"
user_ocid            = "<REPLACE-BY-USER-OCID>"
fingerprint          = "<REPLACE-BY-USER-FINGERPRINT>"
private_key_path     = "<REPLACE-BY-PATH-TO-USER-PRIVATE-KEY-FILE>"
private_key_password = ""
region               = "<REPLACE-BY-REGION-NAME>"


network_configuration = {
  default_compartment_id           = "<COMPARTMENT_OCID>"
  network_configuration_categories = {
    PSA = {
      vcns = {
        PSA-VCN = {
          display_name                     = "psa-vcn"
          is_ipv6enabled                   = false
          is_oracle_gua_allocation_enabled = false
          cidr_blocks                      = ["192.168.0.0/24"],
          dns_label                        = "psavcn"
          is_create_igw                    = false
          is_attach_drg                    = false
          block_nat_traffic                = false

          subnets = {
            PSA-SUBNET = {
              cidr_block                = "192.168.0.16/28"
              display_name              = "psa-subnet"
              dns_label                 = "psa"
              ipv6cidr_blocks           = []
              prohibit_internet_ingress = true
            }
          }
          network_security_groups = {
            PSA-NSG-KEY = {
              display_name = "nsg-lb"
              egress_rules = {
                anywhere = {
                  description = "egress to 0.0.0.0/0 over TCP"
                  stateless   = false
                  protocol    = "TCP"
                  dst         = "0.0.0.0/0"
                  dst_type    = "CIDR_BLOCK"
                }
              }
              ingress_rules = {
                ssh_22 = {
                  description  = "ingress from 192.168.0.0/24 over TCP22"
                  stateless    = false
                  protocol     = "TCP"
                  src          = "192.168.0.0/24"
                  src_type     = "CIDR_BLOCK"
                  dst_port_min = 22
                  dst_port_max = 22
                }
                http_443 = {
                  description  = "ingress from 192.168.0.0/24 over https:443"
                  stateless    = false
                  protocol     = "TCP"
                  src          = "192.168.0.0/24"
                  src_type     = "CIDR_BLOCK"
                  dst_port_min = 443
                  dst_port_max = 443
                }
              }
            }
          }
        }
      }
      private_service_access = {
        OBJECT-STORAGE = {
          compartment_id    = var.compartment_id
          target_service_id = "object-storage"       ## Object Storage Service
          #target_service_id = "database-service"    ## Database Service API
          subnet_key        = "PSA-SUBNET"
          nsg_keys           = ["PSA-NSG-KEY"]
          #Make Sure the Security Attributes are defined 
          #In the OCI Console, go to Identity & Security → Zero Trust Packet Routing and confirm that the namespace oracle-zpr exists, that the attribute fleet-update is defined in that namespace, and that "test" is an allowed value or matches the attribute’s type. If not change the value as needed
          zpr_attributes = [
            {
              namespace  = "oracle-zpr"
              attr_name  = "fleet-update"
              attr_value = "test"
              mode       = "enforce"
            }
          ]
        }
      }
    }
  }
}
network_dependency = {
/*
  "network_security_groups" = {
    "PSA-NSG" = {"id": "ocid1.networksecuritygroup.oc1..*"},
  },
  "subnets" = {
    "PSA-SUBNET": {"id": "ocid1.subnet.oc1..*"}
  }
*/
}