# Copyright (c) 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

tenancy_ocid         = "<tenancy OCID>"
user_ocid            = "<user OCID>"
fingerprint          = "<API key fingerprint>"
private_key_path     = "<path to the API private key>"
private_key_password = "" # Set this if the private key is encrypted.
region               = "<OCI region>"
